default_stages:
  - commit
  - push
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
    args: [--maxkb=1000]
  - id: check-ast
  - id: fix-byte-order-marker
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args:
        - --py39-plus
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: Black
      args: [--config=./pyproject.toml, --fast]
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
    - id: forbid-tabs
- repo: local
  hooks:
    - id: pylint
      name: Pylint
      entry: "env PYTHONPATH=. pylint"
      language: system
      files: \.py$
      pass_filenames: true
      require_serial: true
